In [3]:
import pyodbc
import pandas as pd

# Connection parameters
server_name = "ALLEN-TIDER"  # Your SQL Server name
database_name = "student_database"  # Replace with your database name
table_name = "stud"  # Replace with your table name

try:
    # Establish connection using Windows Authentication
    connection = pyodbc.connect(
        f"DRIVER={{ODBC Driver 17 for SQL Server}};"
        f"SERVER={server_name};"
        f"DATABASE={database_name};"
        f"Trusted_Connection=yes;"
    )
    print("Connection successful!")

    
    # SQL query to fetch data
    query = f"SELECT * FROM {table_name}"

    # Load data into a pandas DataFrame
    data = pd.read_sql(query, connection)
    print("Data ingestion successful!")
    print(data.head())  # Display the first few rows

    # Close the connection
    connection.close()

except Exception as e:
    print(f"Error occurred: {e}")

Connection successful!
Data ingestion successful!
   gender race_ethnicity parental_level_of_education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard

  test_preparation_course  math_score  reading_score  writing_score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75

C:\Users\allen_vvyeprk\AppData\Local\Temp\ipykernel_7876\2415701445.py:24: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, connection)

In [4]:
from sqlalchemy import create_engine
import pandas as pd

# Define the connection URI
database_uri = "mssql+pyodbc://@ALLEN-TIDER/student_database?driver=ODBC+Driver+17+for+SQL+Server&Trusted_Connection=yes"

try:
    # Create an engine using the URI
    engine = create_engine(database_uri)
    print("Connection successful!")

    # SQL query to fetch data
    query = "SELECT * FROM stud"  # Replace 'stud' with your table name

    # Load data into a pandas DataFrame
    data = pd.read_sql(query, engine)
    print("Data ingestion successful!")
    print(data.head())  # Display the first few rows

    # Close the engine
    engine.dispose()

except Exception as e:
    print(f"Error occurred: {e}")

Connection successful!
Data ingestion successful!
   gender race_ethnicity parental_level_of_education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard

  test_preparation_course  math_score  reading_score  writing_score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75